<!DOCTYPE html>
<html>

<head>
    <title>Painel TV</title>
</head>

<body>

<h1>Painel de Vídeos</h1>

<form action="/upload" method="post" enctype="multipart/form-data">
    <input
        type="file"
        name="arquivo"
        accept="video/*,image/*"
        required
    >

    <button type="submit">
        Enviar
    </button>
</form>

<hr>

<ul>
{% for arquivo in arquivos %}

    <li>
        {{ arquivo[1] }}
        ({{ arquivo[2] }})

        <a href="/delete/{{ arquivo[0] }}">
            Excluir
        </a>
    </li>

{% endfor %}
</ul>

</body>

</html>